.hero {
    width: 100%;
    height: 100vh; 
    display: flex;
    text-align: center;
    align-items: center;

    &__content {
    }

    &__descr {
        h5{
            color: $white;
            font-size: 1.4rem;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 3px;
            margin: 0px -3px 1.2rem 0px;
        }
        
    }
    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
      }
}

.sub-headline {
    font-size: 8.5rem;
    font-family: $secndaryFont;
    color: $brown;
    font-weight: 100;
    line-height: 0.4;
    letter-spacing: 2px;
    opacity: 0;
    animation: fadeUp .5s forwards;
    animation-delay: .5s;
}

.first-later {
    text-transform: uppercase;
    font-size: 10.3rem;
}
.headline {
    color: $white;
    font-size: 3.7rem;
    font-family: $mainFont;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.5rem;
    margin-right: -.5rem;
    opacity: 0;
    animation: scale .5s forwards;
    animation-delay: .5s;
}
.separator {
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {
    width: 100%;
    max-width: 8.4rem;
    height: 0.25rem;
    background: $white;
    position: relative;
    opacity: 0;
    animation: grow 2s forwards;
    animation-delay: .9s;
}
.line-left {
     &:before{
        content: '';
        position: absolute;
        border: .6rem solid transparent;
        top: 50%;
        transform: translateY(-50%);
        border-left-color: $white;
        left: 0;
        opacity: 0;
        animation: grow .5s forwards;
        animation-delay: 1.2s;
    }
}
.single-animation{
    opacity: 0;
    animation: fadeDown .5s forwards;
    animation-delay: .5s;
}
.asterisk {
    margin: 0 1.2rem;
    height: 1.2rem;
    width: 1.2rem;
    opacity: 0;
    animation: spin .5s forwards;
    animation-delay: .7s;
}
.line-right {
    &:before{
        content: '';
        position: absolute;
        border: .6rem solid transparent;
        top: 50%;
        transform: translateY(-50%);
        border-right-color: $white;
        right: 0;
        opacity: 0;
        animation: grow .5s forwards;
        animation-delay: 1.2s;
    }
}
.single-animation {
}
