$white: #fff;
$dark: #252525;
$brown: #c59d5f;
$bodyColor: #515151;
$width: 122.5em;
$mainFont: 'Source Sans Pro', sans-serif;
$secndaryFont: 'Herr Von Muellerhoff', cursive;
$bodyFont: 'Cabin', sans-serif;